@charset "utf-8";

/*/////////////////////////////////////////

>>layout.css

/////////////////////////////////////////*/

body { background: #FFF url(../img/bg_body.gif) repeat-x 0 0;}
a:hover img { opacity:0.8; filter: alpha(opacity=80);}

#wrap { width: 1000px; margin: 20px auto 40px;}
#wrap:after{ content: ""; display: block; clear: both;}
#main { width: 670px; float: right;}
#side { width: 300px; float: left;}
#breadcrumb { background: #F0F0F0; padding: 0.6em 0;}
#breadcrumb p { width: 999px; margin: 0 auto;}
#pager { padding: 5px 0 0; background: #fff; margin: 20px 0; background: url(../img/border.png) repeat-x 0 0;}
#pager ul { padding: 10px 5px; overflow: hidden;}
#pager .prev { width: 49%; float: left;}
#pager .prev a { padding: 0.1em 0 0 2.2em; background: url(../img/ic_rarrow.png) no-repeat left center;}
#pager .next { width: 49%; float: right; text-align: right;}
#pager .next a { padding: 0.1em 2.2em 0 0; background: url(../img/ic_arrow.png) no-repeat right center;}
aside.ad { clear: both; text-align: center; overflow: hidden; padding: 20px 0;}
aside.ad .fl { width: 49%; float: left;}
aside.ad .fr { width: 49%; float: right;}
table { width: 100%;}
img.alignleft { float: left; margin: 0 1em 1em 0;}
img.alignright { float: right; margin: 0 0 1em 1em;}
.wp-pagenavi { clear: both;}
.wp-pagenavi a, .wp-pagenavi span { text-decoration: none; border: 1px solid #BFBFBF; padding: 3px 5px; margin: 2px;}
.wp-pagenavi a:hover, .wp-pagenavi span.current { border-color: #000;}
.wp-pagenavi span.current { font-weight: bold;}
.wp-pagenavi .current { background:#FFF; }
.wp-pagenavi a { background:#0f6fcf; color:#FFF; }
.wp-pagenavi a:hover { background:#A8D0F9; color:#FFF; }

img.left { float:left;}
img.right { float:right; margin-bottom:30px;}
img.alignleft { border: 1px solid #CCC; padding: 5px;}
img.alignright { border: 1px solid #CCC; padding: 5px;}
img.aligncenter { border: 1px solid #CCC; padding: 9px; margin-bottom: 1em; text-align:center; display: block;}

/*mark { font-size: 1.4em; color: #F00; background: none; margin: 0 2px 0 0; letter-spacing: -0.1em;}*/

/* globalheader #############
=========================================*/
#logo img { width: 265px; height: 58px;}

#globalheader { background: #006899; color: #FFF;}
#globalheader .inner { width: 1000px; padding: 5px 0 12px; margin: 0 auto; overflow: hidden ; }
#globalheader h1 { float: right; width: 540px; font-size: 13px; margin: 0.3em 0 0.2em; border-bottom: 2px solid #FFF;}
#globalheader h2 { float: right; width: 540px; font-size: 11px;}
#globalheader #logo { float: left; margin: 7px 0 0;}

#global_nav { background: #333;}
#global_nav ul { width: 994px; padding: 6px 3px 0; margin: 0 auto; overflow: hidden}
#global_nav ul li { float: left; width: 126px; padding: 8px;}
#global_nav ul li:hover { background: #666;}
#global_nav ul li a { display: block; border-bottom: 3px solid #fff; text-align: center; padding: 0 0 0.2em; font-size: 1.2em; color: #fff; text-decoration: none;}


/* index.php #############
=========================================*/
.front { background: #006899;}
.front .inner { width: 1000px; margin: 0 auto; padding: 10px 0;}
.front.top h1 { width: 991px; height: 131px; text-indent: -9998px; background: url(../img/front_title.png) no-repeat 0 0;}

.front .map { background: #C6D8E5; width: 640px; height: 400px; float: left; position: relative;}
.front .map .presearch { display: none; background: url(../img/map/ic_tooltip.png) no-repeat; text-indent: -9998px; width: 97px; height: 106px; position: absolute; background-position: 0 0;}

.front .map .jp li a { display: block; text-indent: -9998px; position: absolute; box-shadow: 1px 1px 1px #62B5FF}
.front .map .jp li a:hover { opacity:0.6; filter: alpha(opacity=60);}

.front .map li.pr01 a { left: 500px; top: 21px; width: 120px; height: 100px; background: url(../img/map/pr_hokkaido.png) no-repeat; box-shadow: none}
.front .map li.pr02 a { left: 500px; top: 136px; width: 75px; height: 29px; background: url(../img/map/pr_aomori.png) no-repeat;}
.front .map li.pr03 a { left: 542px; top: 168px; width: 39px; height: 24px; background: url(../img/map/pr_iwate.png) no-repeat;}
.front .map li.pr04 a { left: 500px; top: 168px; width: 39px; height: 24px; background: url(../img/map/pr_akita.png) no-repeat;}
.front .map li.pr05 a { left: 542px; top: 195px; width: 39px; height: 24px; background: url(../img/map/pr_miyagi.png) no-repeat;}
.front .map li.pr06 a { left: 500px; top: 195px; width: 39px; height: 24px; background: url(../img/map/pr_yamagata.png) no-repeat;}
.front .map li.pr07 a { left: 500px; top: 222px; width: 73px; height: 25px; background: url(../img/map/pr_fukushima.png) no-repeat;}

.front .map li.pr08 a { left: 503px; top: 307px; width: 42px; height: 25px; background: url(../img/map/pr_tokyo.png) no-repeat;}
.front .map li.pr09 a { left: 479px; top: 335px; width: 41px; height: 25px; background: url(../img/map/pr_kanagawa.png) no-repeat;}
.front .map li.pr10 a { left: 471px; top: 278px; width: 73px; height: 25px; background: url(../img/map/pr_saitama.png) no-repeat;}
.front .map li.pr14 a { left: 549px; top: 295px; width: 31px; height: 63px; background: url(../img/map/pr_chiba.png) no-repeat;}
.front .map li.pr12 a { left: 510px; top: 250px; width: 35px; height: 24px; background: url(../img/map/pr_tochigi.png) no-repeat;}
.front .map li.pr13 a { left: 471px; top: 250px; width: 35px; height: 24px; background: url(../img/map/pr_gunma.png) no-repeat;}
.front .map li.pr11 a { left: 549px; top: 250px; width: 24px; height: 42px; background: url(../img/map/pr_ibaragi.png) no-repeat; }

.front .map li.pr15 a { left: 460px; top: 210px; width: 35px; height: 36px; background: url(../img/map/pr_niigata.png) no-repeat;}
.front .map li.pr16 a { left: 419px; top: 222px; width: 39px; height: 24px; background: url(../img/map/pr_toyama.png) no-repeat;}
.front .map li.pr17 a { left: 380px; top: 184px; width: 34px; height: 63px; background: url(../img/map/pr_ishikawa.png) no-repeat;}
.front .map li.pr18 a { left: 348px; top: 250px; width: 67px; height: 29px; background: url(../img/map/pr_fukui.png) no-repeat;}
.front .map li.pr19 a { left: 471px; top: 306px; width: 28px; height: 25px; background: url(../img/map/pr_yamanashi.png) no-repeat;}
.front .map li.pr20 a { left: 419px; top: 250px; width: 48px; height: 81px; background: url(../img/map/pr_nagano.png) no-repeat;}
.front .map li.pr21 a { left: 380px; top: 282px; width: 35px; height: 50px; background: url(../img/map/pr_gifu.png) no-repeat;}
.front .map li.pr22 a { left: 425px; top: 335px; width: 50px; height: 32px; background: url(../img/map/pr_shizuoka.png) no-repeat;}
.front .map li.pr23 a { left: 379px; top: 335px; width: 42px; height: 31px; background: url(../img/map/pr_aichi.png) no-repeat;}
.front .map li.pr24 a { left: 348px; top: 335px; width: 28px; height: 45px; background: url(../img/map/pr_mie.png) no-repeat;}

.front .map li.pr25 a { left: 349px; top: 282px; width: 28px; height: 50px; background: url(../img/map/pr_shiga.png) no-repeat;}
.front .map li.pr26 a { left: 289px; top: 251px; width: 56px; height: 25px; background: url(../img/map/pr_kyoto.png) no-repeat;}
.front .map li.pr27 a { left: 289px; top: 280px; width: 27px; height: 53px; background: url(../img/map/pr_osaka.png) no-repeat;}
.front .map li.pr28 a { left: 261px; top: 251px; width: 25px; height: 54px; background: url(../img/map/pr_hyogo.png) no-repeat;}
.front .map li.pr29 a { left: 318px; top: 280px; width: 27px; height: 53px; background: url(../img/map/pr_nara.png) no-repeat;}
.front .map li.pr30 a { left: 289px; top: 336px; width: 56px; height: 28px; background: url(../img/map/pr_wakayama.png) no-repeat;}

.front .map li.pr31 a { left: 222px; top: 251px; width: 35px; height: 25px; background: url(../img/map/pr_tottori.png) no-repeat;}
.front .map li.pr32 a { left: 183px; top: 251px; width: 35px; height: 25px; background: url(../img/map/pr_shimane.png) no-repeat;}
.front .map li.pr33 a { left: 222px; top: 280px; width: 35px; height: 25px; background: url(../img/map/pr_okayama.png) no-repeat;}
.front .map li.pr34 a { left: 183px; top: 280px; width: 35px; height: 25px; background: url(../img/map/pr_hiroshima.png) no-repeat;}
.front .map li.pr35 a { left: 155px; top: 251px; width: 25px; height: 54px; background: url(../img/map/pr_yamaguchi.png) no-repeat;}
.front .map li.pr36 a { left: 214px; top: 357px; width: 49px; height: 25px; background: url(../img/map/pr_tokushima.png) no-repeat;}
.front .map li.pr37 a { left: 214px; top: 329px; width: 49px; height: 25px; background: url(../img/map/pr_kagawa.png) no-repeat;}
.front .map li.pr38 a { left: 162px; top: 329px; width: 49px; height: 25px; background: url(../img/map/pr_ehime.png) no-repeat;}
.front .map li.pr39 a { left: 162px; top: 357px; width: 49px; height: 25px; background: url(../img/map/pr_kochi.png) no-repeat;}

.front .map li.pr40 a { left: 77px; top: 262px; width: 63px; height: 36px; background: url(../img/map/pr_fukuoka.png) no-repeat;}
.front .map li.pr41 a { left: 52px; top: 262px; width: 21px; height: 36px; background: url(../img/map/pr_saga.png) no-repeat;}
.front .map li.pr42 a { left: 24px; top: 262px; width: 24px; height: 46px; background: url(../img/map/pr_nagasaki.png) no-repeat;}
.front .map li.pr43 a { left: 77px; top: 301px; width: 25px; height: 53px; background: url(../img/map/pr_kumamoto.png) no-repeat;}
.front .map li.pr44 a { left: 105px; top: 301px; width: 35px; height: 25px; background: url(../img/map/pr_oita.png) no-repeat;}
.front .map li.pr45 a { left: 105px; top: 329px; width: 35px; height: 25px; background: url(../img/map/pr_miyazaki.png) no-repeat;}
.front .map li.pr46 a { left: 77px; top: 357px; width: 63px; height: 32px; background: url(../img/map/pr_kagoshima.png) no-repeat;}
.front .map li.pr47 a { left: 31px; top: 353px; width: 24px; height: 36px; background: url(../img/map/pr_okinawa.png) no-repeat;}

.front .search_naiyo { width: 315px; background: #FFF;}
.front .search_naiyo { border: 1px solid #FFF;}
.front .search_naiyo h5 { background: #EC792A; margin: 15px 25px 15px -1px; padding: 0.16em 0.4em 0.13em; color: #fff; font-size:1.1em; } 
.front .search_naiyo ul { margin: 0 15px 15px; overflow: hidden}
.front .search_naiyo ul li { width: 140px; float: left; border-bottom: 1px dotted #ccc;}
.front .search_naiyo ul li a { display: block; background: url(../img/ic_ar.gif) no-repeat 0.1em 0.6em; padding: 0.4em 0 0.4em 1.7em; font-size: 0.9em;}

.front .search_area { width: 330px; float: right; background: #FFF;}

.front .btn { width: 640px; float: left; margin: 20px 0 0; text-align: center}
.front .btn a { display: block; width:600px; margin: 0 auto; padding: 0.5em 0; text-align: center; background: url(../img/ic_ar_wh.png) no-repeat 530px center #D6393F; border: 1px solid #D6393F; border-radius: 5px; font-size: 2em; color: #FFF; text-decoration: none; box-shadow: 0 1px 2px #888;text-shadow: -1px 1px 0 rgba(0,0,0,0.3); }
.front .btn a:hover { background-color:#EA9C9F; border: 1px solid #EA9C9F; }

.front .button { width:100%; margin: 10px 0 0; text-align: center}
.front .button a { display: block; width: 900px; margin: 0 auto; padding: 0.2em 0; text-align: center; background: url(../img/ic_ar_wh.png) no-repeat 800px center #D6393F; border: 1px solid #D6393F; border-radius: 40px; font-size: 2em; color: #FFF; text-decoration: none; box-shadow: 0 1px 2px #888;}
.front .button a:hover { background-color:#EA9C9F; border: 1px solid #EA9C9F; }


.front .ranking { clear: both; background: none;}



/* single-bengo.php #############
=========================================*/
.front.bengosingle {  border-bottom: 10px solid #333;}
.front.bengosingle header { background: url(../img/ic_bengo.png) no-repeat 0 0; margin: 10px 0 0; padding: 5px 0 0 110px; color: #FFF; font-size: 1.4em;}
.front.bengosingle header span { background: #EB792A; padding: 0 1em; margin: 0 0.4em 0 0; border-radius:10px;}
.front.bengosingle header strong { font-size:1.3em; line-height:1.2}
.front.bengosingle header h1 { font-size: 2em;}

.front.bengosingle article { background: #FFF; padding: 20px; overflow: hidden}
.front.bengosingle article .bengo_detail { width: 346px; float: right}
.front.bengosingle article .bengo_detail h2 { border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; font-size: 1.4em; padding: 4px 0 0 40px; margin: 0 0 5px; background: url(../img/ic_calc.png) no-repeat 8px center; background-size: 20px;}
.front.bengosingle article .bengo_detail h2:first-child { background: url(../img/ic_folder.png) no-repeat 5px center; background-size: 30px;margin: 0 0 15px; }
.front.bengosingle article .bengo_detail ul { overflow: hidden; margin: 0 -2px 0 0; padding: 0 0 15px}
.front.bengosingle article .bengo_detail ul li { width: 85px; height: 70px; text-align: center; background: #6DB82B; border-radius: 4px; float: left; margin: 0 2px 2px 0;
 color: #FFF; font-size: 30px; line-height: 1; padding: 15px 0 0; overflow: hidden;}
.front.bengosingle article .bengo_detail ul li.r { background: #D6393F;}
.front.bengosingle article .bengo_detail ul li.n { background: #aaa url(../img/ic_fuka.gif) no-repeat right bottom;  opacity:0.6; filter: alpha(opacity=60);}


.front.bengosingle article .bengo_detail p { font-size: 1.2em; margin: 0 0 0.3em}
.front.bengosingle article .bengo_detail strong { color: #f00; font-weight: bold;}
.front.bengosingle article .bengo_detail a img { display: block; margin: 8px 0;}
.front.bengosingle article .bengo_detail a + p { border-bottom: 1px solid #ccc; font-size: 10px;}

.front.bengosingle article .bengo_image { width: 590px; float: left}
.front.bengosingle article .bengo_image .visual{ width: 586px; height:auto; padding:1px ; border: 1px solid #CCC; margin-bottom: 5px;}
.front.bengosingle article .bengo_image .thumb{ width: 190px; height:auto; padding:1px ; border: 1px solid #CCC; margin:1px}
.front.bengosingle article .bengo_image table { border-collapse:separate; border-spacing:8px;}
.front.bengosingle article .bengo_image table td { border: 1px solid #CCC; padding: 2px 2px; line-height: 1; text-align: center}
.front.bengosingle article .bengo_image table td em { vertical-align: top}
.front.bengosingle article .bengo_image table td b { font-size: 48px; padding: 0 4px; color: #f00; text-decoration: underline; font-weight:500;}
.front.bengosingle article .bengo_image table td span { font-size: 32px; padding: 0 4px; color: #f00; text-decoration: underline; font-weight:500; line-height: 1.7; letter-spacing: -0.01em;}

#mem  h4{ clear: both;}
table#dtl th { background: #CCC; color: #000; border: 1px solid #CCC;}
#mem table { width:520px; margin:10px 0;}
#mem table th { background: #CCC; color: #000; border: 1px solid #CCC;}



/* taxonomy-bengo_cat.php #############
=========================================*/
.front.bengoarchive {  border-bottom: 10px solid #333;}
.front.bengoform + .front.bengoarchive { border-bottom: none;}
.front.bengoarchive header { border-top: 1px solid #FFF; border-bottom: 1px solid #FFF; color: #FFF; font-size: 1.4em; padding: 0.5em 0;}
.front.bengoarchive header span { padding: 0 0 0 40px; background: url(../img/ic_king.png) no-repeat 0 center}
.front.bengoarchive header h1 { margin: 8px 0 0; font-size: 2.4em; line-height: 1.1}

.front.bengoarchive .check { background: #FFF; margin: 15px 0 }
.front.bengoarchive .check ul { overflow: hidden; padding: 15px 0 0 15px;}
.front.bengoarchive .check ul li { width: 150px; text-align: center; border-radius: 4px; float: left; margin: 0 14px 14px 0;
 font-size: 20px; line-height: 1; overflow: hidden;}
.front.bengoarchive .check ul li em { display: block; font-size: 32px;}
.front.bengoarchive .check ul li a { display: block; background: #6DB82B; color: #FFF; height: 65px; padding: 15px 0 0; text-decoration: none}
.front.bengoarchive .check ul li.r a { background: #D6393F;}
.front.bengoarchive .check ul li a:hover { background: #D6393F;}

.front.bengoarchive .check { background: #FFF; margin: 15px 0 }
.front.bengoarchive .check dl { overflow: hidden; padding: 10px 0 10px 15px;}
.front.bengoarchive .check dl dt{ clear: both; padding: 10px 0 0 0.8em; background: url(../img/ic_sq.gif) no-repeat 0 1.4em}
.front.bengoarchive .check dl dd { width: 80px; text-align: center; border-radius: 3px; float: left; margin: 0 10px 5px 0;
 font-size: 20px; line-height: 1; overflow: hidden;}
.front.bengoarchive .check dl dd a { display: block; background: #6DB82B; color: #FFF;  padding: 7px 0 5px; text-decoration: none}
.front.bengoarchive .check dl dd.r a { background: #D6393F;}
.front.bengoarchive .check dl dd a:hover { background: #D6393F;}

.front.bengoarchive .pager { overflow: hidden; padding: 0.5em 0; border-bottom: 1px solid #CCC;}
.front.bengoarchive .pager .count { float: right; font-size: 1.2em; font-weight: 500; color: #FFF;}
.front.bengoarchive .pager .count span { font-size: 0.8em; font-weight: normal; margin: 0 0 0 0.2em}

.front.bengoarchive ul.list > li { margin: 0 0 15px; padding: 20px 25px 25px 25px;  overflow: hidden; background: #FFF;}

.front.bengoarchive .area { background: #EB792A; padding: 0.1em 1em 0 1em; margin: 0 10px 0 0; border-radius: 20px; color: #FFF; font-size:1.2em}
.front.bengoarchive .shozai { background: #6DB82B; padding: 0.1em 1em 0 1em; margin: 0 0 0 0; border-radius: 20px; color: #FFF; font-size:1.2em}
.front.bengoarchive ul.list li h2 { color: #000; font-size:2.2em; font-weight: 500;  }
.front.bengoarchive ul.list li h2 span{ color: #FFF; font-size: 60%; background: #eb792a; padding:3px 7px; margin-right:2px; }
.front.bengoarchive ul.list li .bengo_image { width: 300px; float: left;}
.front.bengoarchive ul.list li .bengo_image .visual { border: 1px solid #CCC; padding:1px; width:296px; height:auto}
.front.bengoarchive ul.list li .bengo_image .helpline { border: 1px solid #ccc; padding: 7px; margin: 5px 0 0;}
.front.bengoarchive ul.list li .bengo_image .helpline strong { display: block; color: #FFF; background: #006899; text-align: center}
.front.bengoarchive ul.list li .bengo_image .helpline a { display: block; color: #C00; font-size: 28px; padding: 0 0 0 40px; background: url(../img/bg_dial.gif) no-repeat 0 center; background-size: 40px 32px;}
.front.bengoarchive ul.list li .bengo_image .helpline table { border-collapse:separate; border-spacing:3px; border-top: 1px solid #ccc;}
.front.bengoarchive ul.list li .bengo_image .helpline th { background: #006899; color: #FFF; width: 90px; text-align: center;}

.front.bengoarchive ul.list li .bengo_detail { width: 625px; float: right;}
.front.bengoarchive ul.list li .bengo_detail h3 { border-bottom: 1px solid #CCC; font-size: 2em; padding: 0 0 0 1em; background: url(../img/ic_ar.gif) no-repeat 0.1em 0.5em;}
.front.bengoarchive ul.list li .bengo_detail table { border-collapse:separate; border-spacing:10px;}
.front.bengoarchive ul.list li .bengo_detail td { border: 1px solid #CCC; padding: 2px 0; line-height: 1; text-align: center; width: 33%}
.front.bengoarchive ul.list li .bengo_detail td em { vertical-align: top}
.front.bengoarchive ul.list li .bengo_detail td b { font-size: 48px; padding: 0 4px; color: #D63A3F; text-decoration: underline ; font-weight:500}
.front.bengoarchive ul.list li .bengo_detail td span { font-size: 32px; padding: 8px 4px; color: #D63A3F; text-decoration: underline ; font-weight:500; line-height: 1.7; letter-spacing: -0.01em;}
.front.bengoarchive ul.list li .bengo_detail .sub { width: 350px; float: left;}
.front.bengoarchive ul.list li .bengo_detail .sub strong { color: #D6393F; font-weight: bold;}
.front.bengoarchive ul.list li .bengo_detail .sub h4 { border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; font-size: 1.3em; padding: 0 0 0 33px; margin: 0 0 5px; background: url(../img/ic_calc.png) no-repeat 10px center; background-size: 18px}
.front.bengoarchive ul.list li .bengo_detail .sub ul { overflow: hidden; margin: 0 -2px 0 0; padding: 0 0 15px}
.front.bengoarchive ul.list li .bengo_detail .sub ul li { width: 85px; height: 70px; text-align: center; background: #D6393F; border-radius: 4px; float: left; margin: 0 2px 2px 0; color: #FFF; font-size: 30px; line-height: 1; padding: 15px 0 0; overflow: hidden;}
.front.bengoarchive ul.list li .bengo_detail .sub ul li.n { background: #aaa url(../img/ic_fuka.gif) no-repeat right bottom;  opacity:0.6; filter: alpha(opacity=60);}
.front.bengoarchive ul.list li .bengo_detail .sub p { font-size: 1.2em;}

.front.bengoarchive ul.list li .bengo_detail .view { width: 250px; float: right;}
.front.bengoarchive ul.list li .bengo_detail .view aside { border: 1px solid #CCC; padding: 10px 5px; margin: 0 0 10px; text-align: center; font-size: 0.9em;}
.front.bengoarchive ul.list li .bengo_detail .view aside h5 { border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; text-align: left; font-size: 1.3em; padding: 5px 0 5px 35px; margin: 0 0 10px; background: url(../img/ic_internet.png) no-repeat 15px center; background-size: 18px; }

#wrap.bengoarchive h2 { font-size: 3em; text-align: center; margin: 1.5em 0 0.5em;}
#wrap.bengoarchive h2 span { padding: 0 0 0 50px; background: url(../img/ic_memo.png) no-repeat 0 center;}
#wrap.bengoarchive article { border: 1px solid #CCC; padding: 20px; font-size: 1.4em;}

#wrap.bengoarchive article h2 { border-bottom: 3px double #333; margin: 0 0 0.5em; font-size: 2.2em; line-height: 1.4}
#wrap.bengoarchive article h3 { background: #006699 ; font-size: 1.5em; color: #FFF; margin: 1em 0; padding: 0.3em 0.8em;}
#wrap.bengoarchive article h4 { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 0.5em; font-size: 1.4em; margin: 1em 0;}
#wrap.bengoarchive article h5 { border-left: 1px solid #ccc; padding: 0.3em 0 0.3em 0.8em; font-size: 1.2em; margin: 1em 0;}
#wrap.bengoarchive article ul { background: #FFFFDB; padding: 20px; margin: 1.5em;}
#wrap.bengoarchive article ul li { list-style-type: disc; list-style-position: inside}
#wrap.bengoarchive article p { margin: 0.9em 0;}

.contactfield { background: #FFF; padding: 0 0 ; margin: 1px 0 0; border-top: 1px solid #006899}
.contactfield .inner { width: 1000px; margin: 0 auto; overflow: hidden; padding-top:10px;}
.contactfield .inner h2 { margin-bottom:10px;  color: #FFF; padding: 0.3em 0.5em; background: #D63A3F; display: block; font-size:1em; font-weight: 500}
.contactfield .tel { width: 615px; float: left;}
.contactfield .tel b { padding: 0 0 0 20px; margin-right:3px; background: url(../img/ic_ok.png) no-repeat 3px center; color: #F00;}
.contactfield .tel .helpline { border: 1px solid #ccc; padding: 10px 150px 0 0; background: url(../img/bg_helpline.png) no-repeat right 5px;}
.contactfield .tel .helpline strong { display: block; color: #FFF; padding: 0 0 0 1em; background: #006899;}
.contactfield .tel .helpline a { display: block; letter-spacing: -0.05em; color: #C00; font-size: 50px; padding: 0 0 0 70px; margin: 0 0 0 10px; background: url(../img/bg_dial.gif) no-repeat 0 center}
.contactfield .tel .helpline table { border-collapse:separate; border-spacing:3px; border-top: 1px solid #ccc; margin: 0 0 0 10px;}
.contactfield .tel .helpline th { background: #006899; color: #FFF; width: 90px; text-align: center;}
.contactfield .tel .helpline + p { font-size: 0.9em; color: red; padding-top:5px;}

.contactfield .net { width: 366px; float: right;}
.contactfield .net h3 { border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; font-size: 1.4em; padding: 5px 0 5px 36px; margin: 0 0 0; background: url(../img/ic_internet.png) no-repeat 4px center}
.contactfield .net p { margin: 7px 0}
.contactfield .net .ssl { overflow: hidden; font-size: 0.9em; margin: 10px 0 0;}
.contactfield .net .ssl img { float: left; margin: 0 1em 0 0;}



#total h2{ clear: both; font-size: 2em;}
#total h3 { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 0.5em; font-size: 2em; margin: 1em 0; color: #000;}
#total h3 b{ font-size: 140%; color: #D6393F}
#total table th { background: #006699; color: #FFF;}
#total  strong{ color: red;}

.is { margin-bottom:5px;}
.is h4 { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 0.5em; font-size: 2em; margin: 1em 0; color: #000;}
.is p{ font-size:100px; text-align: center; background: #FFC; padding:10px 0; }


.j { padding: 0.5em 0 70px 0;margin: 8px 0 0;   background:url(../img/down.png) no-repeat center bottom; }
.j p{border-top: 1px solid #FFF; border-bottom: 1px solid #FFF; color: #FFF; font-size: 3.2em;  line-height: 1.1; text-align: center; padding:0.5em 0}

/* form-bengo.php #############
=========================================*/
.front.bengoform {  border-bottom: 10px solid #333;}
.front.bengoform.cal {  border-bottom: none;}
.front.bengoform header { background: url(../img/ic_bengo.png) no-repeat 0 0; margin: 10px 0 0; padding: 5px 0 0 110px; color: #FFF; font-size: 1.4em;}
.front.bengoform header span { background: #EB792A; padding: 0 0.5em; margin: 0 1em 0 0;}
.front.bengoform header h1 { font-size: 2em;}

.front.bengoform article { background: #FFF; padding: 20px; overflow: hidden}
.front.bengoform article .bengo_detail { width: 600px; float: right}
.front.bengoform article .bengo_detail strong { display: block; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; font-size: 1.2em; margin: 0 0 5px; padding: 0.4em 0 0.4em 50px;
background: url(../img/ic_tel.png) no-repeat 10px center;}
.front.bengoform article .bengo_detail .contactfield { padding: 0 0; margin: 1px 0 0; border-top: none}
.front.bengoform article .bengo_detail .contactfield .inner {}
.front.bengoform article .bengo_detail .contactfield .tel { width: 600px; float: none;}
.front.bengoform article .bengo_detail .contactfield .tel p:first-child { background: url(../img/bg_helpline.png) no-repeat right 0; border-right: 1px solid #ccc;}
.front.bengoform article .bengo_detail .contactfield .tel b { padding: 0 0 0 20px; background: url(../img/ic_ok.png) no-repeat 0 center; color: #F00;}
.front.bengoform article .bengo_detail .contactfield .tel .helpline { border: 1px solid #ccc; border-top: none; padding: 10px 150px 0 0; background: url(../img/bg_helpline.png) no-repeat right -23px;}
.front.bengoform article .bengo_detail .contactfield .tel .helpline strong { display: block; color: #FFF; padding: 0 0 0 1em; background: #006899;}
.front.bengoform article .bengo_detail .contactfield .tel .helpline a { display: block; color: #C00; font-size: 48px; padding: 0 0 0 70px; margin: 0 0 0 10px; background: url(../img/bg_dial.gif) no-repeat 0 center; line-height: 1.3}
.front.bengoform article .bengo_detail .contactfield .tel .helpline table { margin: 5px 10px}
.front.bengoform article .bengo_detail .contactfield .tel .helpline th { background: #006899; color: #FFF; width: 90px; text-align: center; font-size: 1em}
.front.bengoform article .bengo_detail .contactfield .tel .helpline td { font-size: 1em}

.front.bengoform article .bengo_image { width: 300px; float: left; padding: 15px 0;}

.front.bengoform article + article { margin: 20px 0 0;}
.front.bengoform article h2 { background: #006699; font-size: 1.5em; color: #FFF; margin: 1em 0; padding: 0.3em 0.8em;}
.front.bengoform article .ssl { width: 95%; margin: 1em auto; font-size: 1em; overflow: hidden;}
.front.bengoform article .ssl img { float: left; margin: 0 1em 0 0;}
.front.bengoform article table { margin: 1.5em 0; border: 1px solid #ccc; border-collapse:separate; border-spacing:1px;}
.front.bengoform article table th { padding: 0.4em 0.8em 0.4em 0; text-align: right; font-size: 1.2em; color: #333; width: 250px; background: #CCC url(../img/ic_ninni.gif) no-repeat 10px center;}
.front.bengoform article table td { padding: 0.3em 0 0.3em 0.8em; font-size: 1.2em; border-bottom: 1px solid #ccc;}
.front.bengoform article table td input[type="text"],
.front.bengoform article table td input[type="tel"],
.front.bengoform article table td input[type="number"],
.front.bengoform article table td textarea { padding: 0.1em;}
.front.bengoform article table td label { display: block; color: #069}
.front.bengoform article table td input[type="text"],
.front.bengoform article table td input[type="tel"],
.front.bengoform article table td input[type="number"],
.front.bengoform article table td textarea { padding: 0.2em 0.4em; border: 1px inset #0CBDD1}
.front.bengoform article table td.must input[type="text"] { /*border: 1px solid #E99498; background: #FFF2F2;*/ }
.front.bengoform article table th.must { background: #CCC url(../img/ic_mast.gif) no-repeat 10px center;}
.front.bengoform article #accept { text-align: center}
.front.bengoform article #button input { display: block; border: 1px solid #D6393F; background: #D6393F url(../img/bg_btnarrow.png) no-repeat 220px center;
width: 250px; text-align: center; padding: 10px; border-radius: 4px; color: #FFF; font-size: 1.25em; margin: 10px auto; cursor: pointer;}
.front.bengoform article ul.formtab { overflow: hidden; margin: 0 0 1em}
.front.bengoform article ul.formtab li { width: 49%; float: right;}
.front.bengoform article ul.formtab li:first-child { width: 49%; float: left}
.front.bengoform article ul.formtab li a { display: block; text-align: center; width: 100%; background: #6DB82B url(../img/ic_wcal.png) no-repeat 1em center; color: #FFF; height: 65px; padding: 15px 0 0; text-decoration: none; font-size: 2.6em;}

.front.bengoform samp { color: #D6393F; font-size: 1.2em;}
.front.bengoform .th30 { background: none; font-size: 1.5em; font-weight: bold;}
.front.bengoform .td30 { padding: 0.8em;}
.front.bengoform .td30 samp { color: #D6393F; font-size: 3.0em; border-bottom: 5px solid #D6393F; margin: 0 0 0 0.2em; letter-spacing: 0.05em; line-height: 1.1;}





/* single.php #############
=========================================*/
.single_doc { font-size: 1.2em; line-height: 1.8;}
.single_doc h2 { border-bottom: 3px double #333; margin: 0 0 0.5em; font-size: 2.2em; line-height: 1.4}
.single_doc h3 { clear: both; background: #006699 url(../img/ic_triangle.gif) no-repeat 0 bottom; font-size: 1.5em; color: #FFF; margin: 1em 0 0.2em; padding: 0.3em 0.8em 25px; line-height:1.3em; overflow: hidden;}
.single_doc h4 { border-top: 1px solid #666; border-bottom: 1px solid #ccc; padding: 0.5em; font-size: 1.4em; margin: 1em 0; color: #000; overflow: hidden;}
.single_doc h5 { border-left: 1px solid #666; padding: 0.3em 0 0.3em 0.8em; font-size: 1.2em; margin: 1em 0; color: #000; overflow: hidden;}
.single_doc table { margin: 1.5em 0; border: 1px solid #ccc; border-collapse:separate; border-spacing:1px; color: #000;}
.single_doc table th { background: #006699; padding: 0.3em 0.8em 0.3em 0; text-align: center; font-size: 1.2em; color: #FFF; width: 150px; border: 1px solid #006699;}
.single_doc table td { padding: 0.3em 0 0.3em 0.8em; font-size: 1.2em; border: 1px solid #ccc;}
.single_doc table td b { color: #D6393F}
.single_doc article > ul { border: 1px solid #ccc; background: #ECECEC; padding: 1em 2em;}
.single_doc article > ul li{ list-style-type: disc; list-style-position: outside; font-size: 1.2em; padding: 0.1em 0.3em;}
.single_doc p { margin: 0.9em 0;}
.single_doc p.link { background: #ECECEC; padding: 0.5em 1em 0.5em 0.5em; text-align: right;}
.single_doc p.link a{ background: url(../img/ic_ar.gif) no-repeat left center; padding-left: 20px;}
.single_doc .btn,.single_doc .btn2 { margin: 30px auto; text-align: center; cursor: pointer}
.single_doc strong { color: #D6393F; font-weight: bold;}
.single_doc .ssl { overflow: hidden; font-size: 0.9em; margin: 10px 0 0;}
.single_doc .ssl img { float: left; margin: 0 1em 0 0;}


.single_doc .solve table { margin: 0}
.single_doc .solve h4 strong { color: #D6393F; border-bottom: 4px solid #D6393F; font-size: 1.6em; letter-spacing: -0.05em;}
.single_doc .solve h5 { border: none; margin: 20px 0 0; padding: 10px 0 0 40px; background: url(../img/ic_lawyer.gif) no-repeat 0 bottom;}
.single_doc .solve h4 + h5 { background: url(../img/ic_parson.gif) no-repeat 0 bottom;}
.single_doc .solve h5 + p { border: 1px solid #CCC; padding: 1em; margin: 0 0 15px;}
.single_doc .solve .p1 { border-bottom: 1px dotted #CCC; padding: 0 0 1em; margin: 0 0 10px;}
.single_doc .solve .p2 { display: none; border-bottom: 1px dotted #CCC; padding: 0 0 1em; margin: 0 0 10px;}
.single_doc .solve .p3 { display: none; border-bottom: 1px dotted #CCC; padding: 0 0 1em; margin: 0 0 10px;}

.single_doc .top h2 { border-bottom: none; margin: 20px 0 0.5em;}
/*.single_doc .top h3 { background: #006699 url(../img/ic_triangle.gif) no-repeat 0 bottom; margin: 1em 0 0.2em; padding: 0.3em 0.8em 20px;} */
.single_doc .top strong { color: #D6393F; border-bottom: 4px solid #D6393F; font-size: 1.5em; letter-spacing: 0.05em;}
.single_doc .top h4 { overflow: hidden;}
.single_doc .top .alignright { border: none; padding: 0}

/*
.single_doc article #contact table { margin: 1.5em 0; border: 1px solid #ccc; border-collapse:separate; border-spacing:1px;}
.single_doc article #contact table th { padding: 0.2em 0.8em 0.2em 0; text-align: right; font-size: 0.9em; color: #333; width: 250px; background: #CCC url(../img/ic_ninni.gif) no-repeat 5px 10px; background-size: 40px; border:1px solid #CCC;}
.single_doc article #contact table td { padding: 0.3em 0 0.3em 0.8em; font-size: 1.2em; border-bottom: 1px solid #ccc;}
.single_doc article #contact table td input[type="text"],
.single_doc article #contact table td input[type="number"],
.single_doc article #contact table td input[type="tel"],
.single_doc article #contact table td textarea { padding: 0.1em;}
.single_doc article #contact table td label { display: block; color: #069}
.single_doc article #contact table td input[type="text"],
.single_doc article #contact table td input[type="number"],
.single_doc article #contact table td input[type="tel"],
.single_doc article #contact table td textarea { padding: 0.2em 0.4em; border: 1px inset #0CBDD1}
.single_doc article #contact table td.must input[type="text"] { /*border: 1px solid #E99498; background: #FFF2F2;*/ }
.single_doc article #contact table th.must { background: #CCC url(../img/ic_mast.gif) no-repeat 5px 10px; background-size: 40px;}
*/

#contact table { margin: 1.5em 0; border: 1px solid #ccc; border-collapse:separate; border-spacing:1px;}
#contact table th { padding: 0.4em 0.8em 0.4em 0; text-align: right; font-size: 1.2em; color: #333; width: 230px; background: #CCC url(../img/ic_ninni.gif) no-repeat 10px center; border: none;}
#contact table td { padding: 0.3em 0 0.3em 0.8em; font-size: 1.2em; border: none; border-bottom: 1px solid #ccc;}
#contact table td label { display: block; color: #069}
#contact table td input[type="text"],
#contact table td input[type="number"],
#contact table td input[type="tel"],
#contact table td textarea { padding: 0.2em 0.4em; border: 1px inset #0CBDD1}
#contact table td textarea { padding: 0.2em 1%; width: 95%;}
#contact table td.must input[type="text"] { /*border: 1px solid #E99498; background: #FFF2F2;*/ }
#contact table th.must { background: #CCC url(../img/ic_mast.gif) no-repeat 10px center;}
#contact table td .mwform-tel-field input,
#contact table table td .mwform-zip-field input { width: 50px;}

#contact #accept { text-align: center}
#contact #button input { display: block; border: 1px solid #D6393F; background: #D6393F url(../img/bg_btnarrow.png) no-repeat 220px center;
width: 250px; text-align: center; padding: 10px; border-radius: 4px; color: #FFF; font-size: 1.25em; margin: 10px auto; cursor: pointer;}


.relatedpost {}
.relatedpost { margin: 0 0 0; font-size: 0.8em; overflow: hidden}
.relatedpost h4 { font-size: 0.8em; padding: 1em 0 0; margin: 40px 0 0; border: none; border-bottom: 1px solid #ccc;}
.relatedpost li img { float: left; margin: 0 1em 0 0;}
.relatedpost li { border-bottom: 1px solid #CCC; padding: 1.2em 0; overflow: hidden}
.relatedpost li p { font-size: 0.9em; padding: 0; margin: 0; overflow: hidden}

#related dt { font-size: 0.8em; padding: 0.2em 0; margin: 40px 0 0;}
#related dd { border-top: 1px solid #333; margin: 0 0 40px;}
#related dd dd img { float: left; margin: 0 1.2em 0 0;}
#related dl dd { border-bottom: 1px solid #CCC; padding: 1em 0;}
#related dl dd a { font-size: 1.2em; color: #333; text-decoration: none;}
#related dl dd a:hover { text-decoration: underline; }
#related dl dd p { font-size: 0.9em; overflow: hidden}

.linkage { border: 1px solid #CCC; padding: 20px; margin: 30px 0 0;}
.linkage h4 { font-we-ght: bold; padding: 0 0 20px; border-bottom: 1px dotted #ccc; background: url(../img/ic_relate.gif) no-repeat 0 26px;}
.linkage li { border-bottom: 1px dotted #ccc; padding: 0.4em 0;}
.linkage li a { display: block; background: url(../img/ic_ar.gif) no-repeat 0.2em 0.7em; padding: 0.4em 0 0.4em 2em; font-size: 1em;}

.newarrival { border: 1px solid #CCC; padding: 20px; margin: 30px 0 0;}
.newarrival h4 { font-we-ght: bold; padding: 0 0 20px; border-bottom: 1px dotted #ccc; background: url(../img/ic_news.gif) no-repeat 0 26px;}
.newarrival li { border-bottom: 1px dotted #ccc; padding: 0.4em 0;}
.newarrival li a {  background: url(../img/ic_ar.gif) no-repeat 0.2em 0.7em; padding: 0.4em 0 0.4em 2em; font-size: 1em; margin-left: 10px;}

.yarpp-related { height:0; clear: both;}

/* archive.php #############
=========================================*/
.archive_doc h2 { border-bottom: 3px double #333; margin: 0 0 0.5em; font-size: 2.2em; line-height: 1.4}

.archive_doc .pager { overflow: hidden; padding: 0.5em 0; border-bottom: 1px solid #CCC;}
.archive_doc .pager .count { float: right; font-size: 1.2em; font-weight: 500}
.archive_doc .pager .count span { font-size: 0.8em; font-weight: normal; margin: 0 0 0 0.2em}
.pagination { font-size:0.95em; line-height:1.1; }
.pagination span, .pagination a { display:block; float:left; margin: 2px 2px 2px 0; padding:6px 9px 5px 9px; text-decoration:none; width:auto; color:#333; background: #FFF;}
.pagination a:hover{ color:#333; background: #CCC; }
.pagination .current{ padding:6px 9px 5px 9px; background: #CCC; color:#333; }

.archive_doc ul.list li { padding: 1em 0; border-bottom: 1px solid #CCC; overflow: hidden}
.archive_doc ul.list li img { float: left; margin: 0 1.3em 0 0; border: 1px solid #CCC; padding:0.2em}
.archive_doc ul.list li h2 { font-size: 1.55em; padding: 0.2em 0;}
.archive_doc ul.list li h2 a{ color: #000; text-decoration: none; }
.archive_doc ul.list li h2 a:hover{ text-decoration: underline; }
.archive_doc ul.list li p { line-height: 1.6; margin: 0.5em;}
.archive_doc ul.list li time { float: right; font-size: 0.9em; color: #999;}


/* parts_common.php #############
=========================================*/
.helpdesk { border: 5px solid #CCC; margin: 40px 0; padding: 20px; clear: both;}
.helpdesk em { background: #D63A3F; color: #FFF; padding: 0.4em 2em; line-height: 2; font-size: 1.2em; margin: 0 0 0 -25px;}
.helpdesk h3 { font-size: 2em; margin: -70px 0 0; padding: 101px 0 0; background: url(../img/bg_helpdesk.png) no-repeat right bottom;}
.helpdesk ul { background: #FFFFDB; padding: 10px; margin: 0 0 15px;}
.helpdesk ul li { font-size: 1.2em; padding: 0.2em 0 0.2em 1.9em; background: url(../img/ic_check.png) no-repeat 0.1em center;}
.helpdesk ul.b li { font-size: 1.4em; color: #D63A3F; font-weight: bold}
.helpdesk dl { margin: 15px 0 0; overflow: hidden;}
.helpdesk dl dt { font-size: 1.2em; border-bottom: 1px solid #CCC;}
.helpdesk dl dd { border-bottom: 1px dotted #ccc; width: 50%; float: left; padding: 0.5em 0; font-size: 1.1em;}
.helpdesk dl dd a { display: block; padding: 0 0 0 25px; background: url(../img/ic_ar.gif) no-repeat 4px center;}
.helpdesk .btn { display: block; width: 600px; margin: 0 auto; padding: 0.5em 0; text-align: center; background: #D6393F url(../img/bg_btnarrow.png) no-repeat 520px center; border: 1px solid #D6393F; border-radius: 5px; font-size: 2em; color: #FFF; text-decoration: none; box-shadow: 0 1px 2px #888;}
.helpdesk .btn:hover { background-color:#EA9C9F; border: 1px solid #EA9C9F;}
.helpdesk + .j a { margin: 0 auto;}
.helpdesk + .j { text-align: center;}

.helpdesk .keisan { display: block; width:100%; float:none }
.helpdesk .keisanbtn { display: block; width: 600px; margin: 0 auto; padding: 0.5em 0; text-align: center; background: #6DB82B url(../img/bg_btnarrow.png) no-repeat 520px center; border: 1px solid #6DB82B; border-radius: 5px; font-size: 1.8em; color: #FFF; text-decoration: none; box-shadow: 0 1px 2px #888;}
.helpdesk .keisanbtn:hover { background-color:#96d65e; border: 1px solid #96d65e;}

/* ranking #############
=========================================*/
.ranking { background: #C6D8E5; padding: 20px 0}
.ranking .inner { width: 1000px; margin: 0 auto 0; background: #FFF;}
.ranking .inner h5 { padding: 0.5em 0 0 1.8em; margin: 0 1.5em; color: #000; font-weight: 500; background: url(../img/ic_oukan.png) no-repeat left 0.7em; font-size:1.8em; border-bottom: 1px solid #CCC;}
.ranking ol { padding: 10px 20px; overflow: hidden}
.ranking ol li { overflow: hidden; padding: 1%; width: 18%; float: left; position: relative; text-align: center;}
.ranking ol li span { background: #FFF; border: 1px solid #CCC; color: #555; padding: 0 0.4em; position: absolute; top: 5px; left: 10px; font-size: 18px;}
.ranking ol li#rank1 span { background: #BEA13B; color: #FFF;}
.ranking ol li#rank2 span { background: #727685; color: #FFF;}
.ranking ol li img { margin: 0 auto; display: block}
.ranking ol li a { }
.ranking ol li img.status { position: absolute; right: 0; top: 40px; width:55px;}


/* side #############
=========================================*/
.side_office { width: 300px; margin: 0 0 25px; padding: 20px 0 0; background: #EC792A url(../img/ic_tr_wh.png) no-repeat 289px bottom; border-bottom:1px solid #EC792A;}
.side_office h4 { background: #FFF; text-align: center; font-weight: 500; text-shadow: 1px 1px 2px #999;}
.side_office h5 { color: #FFF; text-align: center; padding: 0.2em 0; border-bottom: 1px dashed #fff; margin:0 20px 5px;}
.side_office h6 { text-align: center; padding: 0.3em 0; margin: 0 auto; width: 260px; color: #FFF; text-shadow: 0 0 2px #D6393F}
.side_office h6 + p { margin: 0 auto; width: 250px; padding: 5px; border-top: 1px dotted #FFF; font-size: 0.9em; color: #FFF; text-align: center;}
.side_office img.visual { margin: 0 auto; display: block; width: 260px;}
.side_office table { margin: 0 auto 0; width: 260px; padding: 0}
.side_office table td { padding: 0.3em; background: #FFF; color: #000; text-align:center; border-radius: 5px;}
.side_office table th { padding: 0.3em 0 0; color: #FFF;}
.side_office table td a { line-height: 1.2; color: #C00; text-decoration: none; font-size: 2.6em; font-weight: bold; font-family: serif;}
.side_office table td p { font-size: 0.85em; color: red; padding: 0 0 0 2em; margin: 0; background: #FFF url(../img/ic_ok.png) no-repeat 5px center}
.side_office strong { font-weight: bold; font-size:120%;}

.side_office .btn { width: 300px; margin: 20px 0 0; background: #FFF; padding: 15px 0 0;}
.side_office .btn a.link { display: block; width: 300px; margin: 0 auto; padding: 0.5em 0; text-align: center; background: #D6393F url(../img/ic_ar_wh.png) no-repeat 270px center; background-size:10px; border-radius: 5px; font-size: 1.4em; color: #FFF; text-decoration: none; box-shadow: 0 0 2px #888;}
.side_office .btn a.link:hover { background-color:#EA9C9F;}
.side_office .ssl { overflow: hidden; font-size: 0.9em; margin: 10px 0 0;}
.side_office .ssl img { float: left; margin: 0 0.5em 0 0;}

#side h4{ text-align: center;}

.search_area { border: 1px solid #fff;}
#side .search_area { border: 1px solid #CCC;}
.search_area h5 { background: #006899; margin: 15px 25px 0 -1px; padding: 0.16em 0.4em 0.13em; color: #fff; font-size:1.1em;}
.search_area dl { margin: 0 15px 15px; overflow: hidden}
.search_area dl dt { clear: both; padding: 10px 0 0 0.8em; background: url(../img/ic_sq.gif) no-repeat 0 1.4em}
.search_area dl dd { float: left; margin: 0 1px 1px 0;}
.search_area dl dd a { display: block; background: #006899; color: #FFF; text-decoration: none; padding: 0.1em 0.7em; border-radius: 2px; font-size:11px;}
.search_area dl dd a:hover { background: #ECECEC; color: #000; text-decoration: underline}

#side .search_area dl dd a { font-size:12px;}

.search_status { border: 1px solid #ccc; margin: 25px 0;}
.search_status h5 { background: #EC792A; margin: 15px 25px 0 0; padding: 0.1em 0.4em; color: #fff;}
.search_status ul { margin: 15px 15px 15px -10px; padding: 0 0 0 0; border-bottom: 1px solid #CCC; overflow: hidden}
.search_status ul li { border: 1px solid #ccc; border-bottom: none; padding: 1px;}
.search_status ul li a { display: block; border-left: 10px solid #EC792A; padding: 0.5em 0 0.5em 0.5em;}

.search_nintei { border: 1px solid #ccc;}
.search_nintei h5 { background: #60A610; margin: 15px 25px 0 0; padding: 0.1em 0.4em; color: #fff;}
.search_nintei ul { margin: 15px 15px 15px -10px; padding: 0 0 0 0; border-bottom: 1px solid #CCC; overflow: hidden}
.search_nintei ul li { border: 1px solid #ccc; border-bottom: none; padding: 1px;}
.search_nintei ul li a { display: block; border-left: 10px solid #60A610; padding: 0.5em 0 0.5em 0.5em;}

.side_contents { margin: 25px 0;}
.side_contents ul li { border-bottom: 1px solid #ccc; margin: 0.5em 0 0;}
.side_contents ul li a { display: block; background: url(../img/ic_ar.gif) no-repeat 0.2em 0.7em; padding: 0.4em 0 0.4em 1.7em; font-size: 1.1em;}

.side_credit { border: 3px solid #CCC; padding: 90px 1.5em 1.5em; margin: 25px 0; background: url(../img/bg_logo.png) no-repeat center 15px;}
.side_credit ul { border-top: 1px dotted #ccc; margin: 15px 0 0; padding: 10px 0 0;}
.side_credit ul li a { display: block; background: url(../img/ic_ar.gif) no-repeat 0.2em 0.7em; padding: 0.4em 0 0.4em 1.7em; font-size: 0.9em;}

.banner { margin-bottom: 10px}

/* globalfooter #############
=========================================*/
#globalfooter form { background: #333; padding: 0.3em 0;}
#globalfooter form fieldset { width: 1000px; margin: 0 auto; padding: 0.5em 0; overflow: hidden}
#globalfooter form fieldset input[type="text"] { float: left; width: 310px; height: 30px; padding: 0 5px; background:#E8E8E8;
border: none; border-radius: 4px 0 0 4px / 4px 0 0 4px; line-height: 1}
#globalfooter form fieldset input[type="submit"] { float: left; width: 30px; height: 30px; padding: 0 5px; background:#E8E8E8 url(../img/ic_search.png) no-repeat center center;
border: 1px solid #E8E8E8; border-radius: 0 4px 4px 0 / 0 4px 4px 0; text-indent: -9998px; cursor: pointer; line-height: 1}
#globalfooter { background: #006699;}
#globalfooter .inner { width: 1000px; padding: 25px 0 20px; margin: 0 auto; font-size: 0.9em; overflow: hidden}

#globalfooter .contents { width: 200px; float: left; margin: 0 0 0;}
#globalfooter .contents dt { border-left: 3px solid #fff; color: #FFF; padding: 0 0 0 0.8em; margin: 0 0 1em;}
#globalfooter .contents dd a { color: #FFF; padding: 0.2em 0 0.4em 0.5em; display: block}

#globalfooter .search { width: 780px; float: right; margin: 0 0 0;}
#globalfooter .search h6 { color: #FFF; margin: 0 0 0 ; padding-left:20px; background: url(../img/ic_sch.png) no-repeat left center; background-size:15px;}
#globalfooter .search ul { overflow: hidden; background: #FFF; margin: 0 0 1.5em 0; padding: 1em; border-radius: 20px}
#globalfooter .search dl { overflow: hidden; background: #FFF; margin: 0 0 0.5em; padding: 1em;}
#globalfooter .search ul li { float: left; border-left: 1px solid #999; margin: 0 1em 0 0; padding: 0 0 0 1em;}
#globalfooter .search ul li:first-child { border-left: none;}
#globalfooter .search dl dt { float: left; clear: left; margin: 0 1em 0.3em 0; padding: 0 0 0 1.1em; background: url(../img/ic_sq.gif) no-repeat 0 6px; width:100px;}
#globalfooter .search dl dd { float: left; margin: 0 1px 1px 0;}
#globalfooter .search dl dd a { background: #ECECEC; border: 1px solid #ECECEC; border-radius: 4px; color: #000; padding: 0 0.8em; display: block}


.credit { background: #E8E8E8;}
.credit address { width: 750px; margin: 0 auto; overflow: hidden; border-top: 1px solid #FFF;}
.credit address { background: url(../img/ag.png) no-repeat 0 center; padding: 20px 0 20px 250px;}
.credit address em { display: block;}
.credit ul { width: 1000px; margin: 0 auto; overflow: hidden; padding: 1.5em 0; border-bottom: 1px solid #ccc;}
.credit ul li { float: left; margin: 0 2.5em 0 0;}
.credit ul li a { display: block; background: url(../img/ic_ar.gif) no-repeat 0.2em 0.7em; padding: 0.4em 0 0.4em 2em; font-size: 0.9em;}
small { display: block; text-align: center; padding: 0.5em 0; background: #333; color: #FFF;}

#page-top { position: fixed; bottom: 40px; right: 20px; font-size: 0.9em;}
#page-top a { text-decoration: none; color: #fff; width: 50px; padding: 25px 0 5px; text-align: center; display: block; border-radius: 5px; background: #0980B7 url(../img/ic_ar_top.png) no-repeat center 5px}
#page-top a:hover { text-decoration: none; background: #999 url(../img/ic_ar_top.png) no-repeat center 3px;}

@media only screen and (min-width: 320px) and (max-width: 768px) {
	body {
	word-break: normal;
	word-wrap: break-word;
	-webkit-text-size-adjust: 100%;
	}
	body {
	}
	img.alignleft { border: 1px solid #CCC; padding: 0px; width: 45%;}
	img.alignright { border: 1px solid #CCC; padding: 0px; width: 45%;}
	img.aligncenter { border: 1px solid #CCC; padding: 0px; margin-bottom: 1em; text-align:center; display: block;}
	img {
	    max-width: 100%;
	    height:auto;
	}
	#breadcrumb { display: none}
	#wrap { margin: 0; max-width:1000px; width:100%;}
	#main { max-width:670px; width:100%; float: none;}
	#side {}
	#side .side_office,
	#side .search_area,
	#side .search_nintei,
	#side .side_contents,
	#side .banner,
	#side .side_credit,
	#side .search_status { display: none;}

	#side .side_office.fix { background: rgba(0,102,153,0.88); display: block; position: fixed; bottom: 0; left: 0; width: 100%; border-bottom: none; margin: 0; padding: 0;}
	#side .side_office img,
	#side .side_office h4,
	#side .side_office h5 { display: none;}
	#side .side_office table { width: 49%; float: right}
	#side .side_office table th,
	#side .side_office table td { display: none;}

	#side .side_office h6 { background: none; color: #FFF; text-align: left; width: 100%; padding: 0 1%;}
	#side .side_office h5 { display: block; padding: 0; margin: 0; border: none;}
	
	#side .side_office table  { margin: 0;}
	#side .side_office table .tel { display: block; width: 49%; font-size: 0.7em; text-align: center; padding: 0 1% 0 0; width: 100%; background: none; color: #FFF}
	#side .side_office table .tel a { display: block; width: 155px; height: 28px; padding: 0; box-shadow: none; text-indent: -9998px; background: url(../img/btn_sp_phone.png) no-repeat; background-size: 155px 28px; margin: 0 auto;}
	#side .side_office table .tel p { display: none}
	#side .side_office table .tel span { display: block; width: 100%;}

	#side .side_office .btn { width: 49%; float: left; margin: 0; padding: 0 0 0 1%; background: none}
	#side .side_office .btn a.link { width: 155px; height: 28px; padding: 0; box-shadow: none; text-indent: -9998px; background: url(../img/btn_sp_form.png) no-repeat; background-size: 155px 28px; border-radius: 0}
	#side .side_office .btn a.link + p { font-size: 0.7em; color: #FFF; text-align: center;}
	#side .side_office .btn .ssl { display: none;}


	

	#breadcrumb p { max-width:1000px; width:100%;}
	#globalheader .inner { margin: 0; max-width:1000px; width:100%;}
	#globalheader h1,
	#globalheader h2 { display: none}

	#logo img {
		width:auto;	height: 38px; padding:0 0 0 10px;
	}
	.front.top h1 { width: 320px; height: 74px; background: url(../img/front_title_sp.png) no-repeat  center 0; background-size: 320px 74px;}
	.front .inner { margin: 0; max-width:1000px; width:100%;}
	#global_nav ul {max-width:994px; width:100%; padding: 1px 0 2px}
	#global_nav ul li { float: left; width: 60px; padding: 2px; font-size: 8px; letter-spacing: -0.1em}
	#global_nav ul li:first-child { display: none}
	
	.sub{ display: none;}
	
	.front .map { max-width:640px; width:100%;}
	.front .map .jp { display: none;}

	.front .btn ,
	.front .btn a,
	.helpdesk .btn { max-width:640px; width:100%;}
	.archive_doc { padding: 5px;}
	.archive_doc h2 { padding:10px 5px 5px 5px; line-height:1.3em; font-size:2em}
	.archive_doc ul.list li img { width: 70px; padding: 1px; border: 1px solid #CCC;}

	.single_doc { padding: 0 5px;}
	
	.relatedpost { margin: 0 0 0; font-size: 0.8em; overflow: hidden}
	.relatedpost h4 { font-size: 0.8em; padding: 1em 0 0; margin: 10px 0 0; border: none; border-bottom: 1px solid #ccc;}
	.relatedpost li img { float: left; margin: 0 0.5em 0 0; width:15%;}
	.relatedpost li { border-bottom: 1px solid #CCC; padding: 0.6em 0; overflow: hidden; line-height:1.35em; font-weight: 400; font-size:1.2em}
	.relatedpost li p { display: none;}
	.relatedpost li a { display: block; padding:2px 0; }
	
	.helpdesk { border: 5px solid #CCC; margin: 10px 5px; padding: 10px; font-size: 0.8em}
	.helpdesk em { display: block; padding: 0.3em 1em; line-height: 1.3; font-size: 1.5em; font-weight: 700; margin: 0 60px 0 -15px;}
	.helpdesk h3 { font-size: 1.2em; margin: -50px 0 0; padding: 60px 0 0; background-size: 72px 72px; color:#000;}
	.helpdesk ul { padding: 5px; color:#000;}
	.helpdesk ul li { font-size: 1.2em; padding: 0.2em 0 0.2em 1.3em; background-size: 10px 10px;}
	.helpdesk .btn { font-size: 1.4em;background: url(../img/ic_ar_wh.png) no-repeat 280px center #D6393F;background-size: 8px 15px;}
	.helpdesk dl dt { font-size: 1.2em; border-bottom: 1px solid #CCC;}
	.helpdesk dl dd { border-bottom: 1px dotted #ccc; width: 100%; float: none;; padding: 0.5em 0; font-size: 1.5em;}
	.helpdesk dl dd a { display: block; padding: 0 25px 0 0;background: url(../img/ic_sp_arrow.png) no-repeat right center;}
	.helpdesk .keisanbtn { display: block; width: 98%; margin: 0 auto; padding: 0.5em 0; text-align: center; background: #6DB82B url(../img/bg_btnarrow.png) no-repeat 520px center; border: 1px solid #6DB82B; border-radius: 5px; font-size: 1em; color: #FFF; text-decoration: none; box-shadow: 0 1px 2px #888;}
	
	.linkage { border: 1px solid #CCC; padding: 10px ; margin: 30px 5px 30px;}
	.linkage h4 { font-we-ght: bold; padding: 0 0 0; border-bottom: 1px dotted #ccc; background: url(../img/ic_relate.gif) no-repeat right center;}
	.linkage li { border-bottom: 1px dotted #ccc; padding: 0.4em 0;}
	.linkage li a { display: block; padding: 0 25px 0 0;background: url(../img/ic_sp_arrow.png) no-repeat right center; font-size: 1em;}

	.newarrival { border: 1px solid #CCC; padding: 10px ; margin: 30px 5px 30px;}
	.newarrival h4 { font-we-ght: bold; padding: 0 0 0; border-bottom: 1px dotted #ccc; background: url(../img/ic_news.gif) no-repeat right center;}
	.newarrival li { border-bottom: 1px dotted #ccc; padding: 0.4em 0;}
	.newarrival li a { display: block; padding: 0 25px 0 0;background: url(../img/ic_sp_arrow.png) no-repeat right center; font-size: 1em;}
	
	

	#total table th { background: #006699; color: #FFF; width:30%}
	#total table td{ border-top: 1px solid #CCC; border-bottom: none;}
	
	
	.j { padding: 0.5em 0 30px 0;margin: 8px 0 0;   background:url(../img/down.png) no-repeat center bottom; background-size: 100% }
	

	/* index.php #############
	=========================================*/
	
	.front .map { max-width: 640px; width: 100%; height: auto; float: none; position: static;}

	.front .search_naiyo { width: 96%; background: #FFF; padding: 2%; border: none}
	.front .search_naiyo h5 { margin: 5px 0 0 0; padding: 0.1em 0.4em 0.1em 25px; color: #fff;background: #EC792A url(../img/ic_sch.png) no-repeat 5px center; background-size:15px;}
	.front .search_naiyo ul { margin: 0 5px 0; overflow: hidden}
	.front .search_naiyo ul li { width: 45%; float: left; border-bottom: 1px dotted #ccc; margin: 0 12px 0 0;}
	.front .search_naiyo ul li a { display: block; background: url(../img/ic_sp_arrow.png) no-repeat right center; padding: 0.4em 1.7em 0.4em 0; font-size: 0.9em;}

	.front .search_area { width: 96%; float: none; background: #FFF; margin: 0; border: none}
	.search_area { border: none; padding: 2%}
	.search_area h5 {  margin: 0 0 0 0; padding: 0.1em 0.4em 0.1em 25px; color: #fff;background: #006899 url(../img/ic_sch.png) no-repeat 5px center; background-size:15px;}
	.search_area dl { margin: 0 0 ; overflow: hidden}
	.search_area dl dt { clear: both; padding: 10px 0 0 1em; background: url(../img/ic_sq.gif) no-repeat 0 1.5em}
	.search_area dl dd { float: left; margin: 0 1px 1px 0; width:24%; text-align: center;}
.search_area dl dd a:hover { display: block; background: #006899; color: #FFF; text-decoration: none; padding: 0.1em 0.7em; border-radius: 2px; font-size:11px;}
.search_area dl dd a { background: #ECECEC; color: #000; text-decoration: underline}

	.front .btn { max-width: 640px; width: 100%; float: none; margin: 0; padding: 10px 0; background: #FFF;}
	.front .btn a { max-width: 300px; width: 100%; margin: 0 auto; padding: 0.5em 0; text-align: center; background: url(../img/ic_ar_wh.png) no-repeat 260px center #D6393F; background-size: 8px 15px; border: 1px solid #D6393F; border-radius: 5px; font-size: 1.1em; color: #FFF; text-decoration: none; box-shadow: 0 1px 2px #888;}
	.front .btn a:hover { text-decoration: underline; margin-top: 1px;}
	
	.front .button a { display: block; max-width: 300px; width: 100%; margin: 0 auto; padding: 0.2em 0; text-align: center; background: url(../img/ic_ar_wh.png) no-repeat 800px center #D6393F; border: 1px solid #D6393F; border-radius: 40px; font-size: 1.3em; color: #FFF; text-decoration: none; box-shadow: 0 1px 2px #888;}
	
	.front .ranking { clear: both; background: none;}

	/* ranking #############
	=========================================*/
	.ranking { background: #C6D8E5; margin: 5px 0 0}
	.ranking .inner { max-width: 1000px; width: 100%; margin: 0 auto 0; background: #FFF;}
	.ranking .inner h5 {padding: 0 0 4px 20px; margin: 5px; color: #000; font-weight: 500; background: url(../img/ic_oukan.png) no-repeat left 8px; background-size:15px; font-size:1.2em; line-height:1.3; border-bottom: 1px solid #CCC;}
	.ranking ol { padding: 5px; overflow: hidden}
	.ranking ol li { overflow: hidden; padding: 1%; width: 100%; float: none; position: relative; text-align: left; border-bottom: 1px solid #CCC; margin-bottom:}
	.ranking ol li img { margin: 0 1.2em 0 0; float: left;}
	.ranking ol li a.ttl { display: inline; background: none;  padding: 0 0 0 0; font-size: 1.2em; line-height:1.3; background-size: 8px 8px;}
	.ranking ol li img.status { position: absolute; left: 6px; top: 45px; width: 36px; height: 36px;}
	
	/* single.php #############
	=========================================*/
	.single_doc h2 { padding:10px 5px 5px 5px; line-height:1.3em; font-size:2em}

	/* single-bengo.php #############
	=========================================*/
	.front.bengosingle { padding: 0 5px;}
	.front.bengosingle header { background-size: 40px 40px; margin: 0 0 0; padding: 0 0 5px 50px; font-size: 0.65em; letter-spacing: -0.1em;}
	.front.bengosingle header span { background: #EB792A; padding: 0 0.5em; margin: 0 0 0 0; font-size:1.4em; line-height:1.2 }
	.front.bengosingle header strong { display: none;}
	.front.bengosingle header h1 { font-size: 2em;}

	.front.bengosingle article { padding: 5px;}
	.front.bengosingle article .bengo_detail { width:100%; float: none}
	.front.bengosingle article .bengo_detail h2 { border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; font-size: 1.8em; padding: 4px 0 0 40px; background-size: 13px 17px;}
	.front.bengosingle article .bengo_detail h2:first-child { background-size: 22px 15px;}
	.front.bengosingle article .bengo_detail ul { overflow: hidden; margin: 0 -2px 0 0; padding: 0 0 15px}
	.front.bengosingle article .bengo_detail ul li { width: 46px; height: 40px; text-align: center; background: #6DB82B; border-radius: 4px; float: left; margin: 0 2px 2px 0;
	 color: #FFF; font-size: 16px; line-height: 1; padding: 5px 0 0; overflow: hidden;}
	.front.bengosingle article .bengo_detail ul li.r { background: #D6393F;}
	.front.bengosingle article .bengo_detail ul li.n { background-size: 20px 10px;}
	

		 
	.front.bengosingle article .bengo_image { max-width:600px; width:100%; float: none}
	.front.bengosingle article .bengo_image table { border-collapse:separate; border-spacing:2px;}
	.front.bengosingle article .bengo_image table td { border: 1px solid #CCC; padding: 2px 0; line-height: 1; text-align: center; font-size: 0.9em;}
	.front.bengosingle article .bengo_image table td em { vertical-align: top;}
	.front.bengosingle article .bengo_image table td b { font-size: 24px; padding: 0 2px; color: #f00; text-decoration: underline}
	.front.bengosingle article .bengo_image table td span { font-size: 14px;}

	.front.bengosingle article .bengo_image img.visual { margin: 10px 0;}
	.front.bengosingle article .bengo_image img.thumb { display: none;}


	.contactfield { background: #FFF; padding: 5px; margin: 1px 0 0; border-top: 1px solid #006899}
	.contactfield .inner { max-width:1000px; width:100%; margin: 0 auto; overflow: hidden;}
	.contactfield .tel { max-width:614px; width:100%;float: none;}
	.contactfield .tel p:first-child {  background: none; border-right: 1px solid #ccc;}
	.contactfield .tel b { padding: 0 0 0 20px; background: url(../img/ic_ok.png) no-repeat 0 center; color: #F00;}
	.contactfield .tel .helpline { border: 1px solid #ccc; border-top: none; padding: 10px 50px 0 0; background-size: 65px 93px; background-position: bottom right}
	.contactfield .tel .helpline strong { display: block; color: #FFF; padding: 0 0 0 1em; background: #006899;}
	.contactfield .tel .helpline a { display: block; color: #C00; font-size: 24px; padding: 0 0 0 45px; margin: 0 0 0 10px; background-size: 35px 28px}
	.contactfield .tel .helpline table { border-collapse:separate; border-spacing:3px; border-top: 1px solid #ccc; margin: 0 0 0 10px;}
	.contactfield .tel .helpline th { background: #006899; color: #FFF; width: 60px; text-align: center;}
	.contactfield .tel .helpline + p { font-size: 0.7em;}

	.contactfield .net { width: 100%; float: none;}
	.contactfield .net h3 { border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; font-size: 1.4em; padding: 5px 0 5px 24px; background-size: 13px 13px;}
	.contactfield .net p { margin: 7px 0}
	
	#mem h4{ clear: both; font-size:1.13em;}
	table#dtl th { background: #CCC; color: #000; border: 1px solid #CCC;}
	#mem table { width:70%;}
	#mem table th{font-size:0.9em; padding:0.1em; width:33%;}
	#mem table td{font-size:0.9em; padding:0.1em 0.3em;}
	#mem img { width:20%;}

	/* taxonomy-bengo_cat.php #############
	=========================================*/
	.front.bengoarchive { padding: 0 5px;}
	.front.bengoarchive header { border-top: 1px solid #FFF; border-bottom: 1px solid #FFF; color: #FFF; font-size: 1em; padding: 0.5em 0;}
	.front.bengoarchive header span { padding: 0 0 0 20px; background-size: 15px 12px}
	.front.bengoarchive header h1 { font-size: 1.8em; line-height: 1.1}

	.front.bengoarchive .check { background: #FFF; margin: 5px 0 }
	.front.bengoarchive .check ul { overflow: hidden; padding: 5px 0 0 0;}
	.front.bengoarchive .check ul li { width: 23%; letter-spacing: -0.1em; border-radius: 2px; float: left; margin: 0 1% 4px 1%;
	 font-size: 10px; line-height: 1; overflow: hidden;}
	 
	 .front.bengoarchive .area { background: #EB792A; padding: 0 1em 0 1em; margin: 0 10px 0 0; border-radius: 20px; color: #FFF; font-size:1em}
	 .front.bengoarchive .shozai { background: #6DB82B; padding: 0 1em 0 1em; margin: 0 0 0 0; border-radius: 20px; color: #FFF; font-size:1em}
	 
	 .front.bengoarchive ul.list li h2 {font-size:1.4em; line-height:1.3; color: #000; text-align: left; }
	.front.bengoarchive .check ul li em { display: block; font-size: 16px;}
	.front.bengoarchive .check ul li a { display: block; background: #6DB82B; color: #FFF; height: 35px; padding: 10px 0 0; text-decoration: none}
	
	.front.bengoarchive .check { background: #FFF; margin: 15px 0 }
	.front.bengoarchive .check dl { overflow: hidden; padding: 5px 0 5px 5px;}
	.front.bengoarchive .check dl dt{ clear: both; padding: 10px 0 0 0.8em; background: url(../img/ic_sq.gif) no-repeat 0 1.4em}
	.front.bengoarchive .check dl dd { width: 15%; text-align: center; border-radius: 2px; float: left; margin: 0 1% 3px 0;
	 font-size: 1em; line-height: 1; overflow: hidden;}
	.front.bengoarchive .check dl dd a { display: block; background: #6DB82B; color: #FFF;  padding: 5px 0 5px; text-decoration: none}
	.front.bengoarchive .check dl dd.r a { background: #D6393F;}
	.front.bengoarchive .check dl dd a:hover { background: #D6393F;}
	

	.front.bengoarchive ul.list > li { margin: 0 0 15px; padding: 40px 5px 5px; border: 1px solid #FFF; overflow: hidden; background: #FFF; position: relative}
	.front.bengoarchive ul.list li .bengo_image { width: 100%; float: none; overflow: hidden}
	.front.bengoarchive ul.list li .bengo_image .visual { width: 30%; float: left;}
	.front.bengoarchive ul.list li .bengo_image .helpline { border: none; padding: 0; margin: 0; width: 65%; float: right;}
	.front.bengoarchive ul.list li .bengo_image .helpline strong { display: block; color: #FFF; background: #006899; text-align: center; line-height:1.2em}
	.front.bengoarchive ul.list li .bengo_image .helpline a { display: block; color: #C00; font-size: 21px; line-height:1.3em; padding: 0 0 0 24px; background: url(../img/bg_dial.gif) no-repeat 0 center; background-size: 20px 16px;}
	.front.bengoarchive ul.list li .bengo_image .helpline table th{ width: 26%; padding:2px; font-size:0.6em; }
	.front.bengoarchive ul.list li .bengo_image .helpline table td{ padding:2px; font-size:0.8em; line-height:1em; }

	.front.bengoarchive ul.list li .bengo_detail {  width: 100%; float: none;}
	.front.bengoarchive ul.list li .bengo_detail h3 { position: absolute; left: 2%; top: 5px; border-bottom: 1px solid #CCC; font-size: 1.25em; padding: 0 0 0 0;background: url(../img/ic_sp_arrow.png) no-repeat right center; letter-spacing: -0.05em; display: block; width:96%; font-weight: 600}
	.front.bengoarchive ul.list li .bengo_detail h3 a{ display: block}
	.front.bengoarchive ul.list li .bengo_detail table { border-collapse:separate; border-spacing:3px;}
	.front.bengoarchive ul.list li .bengo_detail td { border: 1px solid #CCC; padding: 1px; line-height: 1; text-align: center; font-size:11px;}
	.front.bengoarchive ul.list li .bengo_detail td em { vertical-align: top; float: left;}
	.front.bengoarchive ul.list li .bengo_detail td b { font-size: 24px; padding: 0px; color: #f00; text-decoration: underline}
	.front.bengoarchive ul.list li .bengo_detail td span { font-size: 14px; padding:0}
	.front.bengoarchive ul.list li .bengo_detail .sub { display: none}

	.front.bengoarchive ul.list li .bengo_detail .view { width: 100%; float: none;}
	.front.bengoarchive ul.list li .bengo_detail .view aside { border: none; padding: 0; margin: 0 0 0;}
	.front.bengoarchive ul.list li .bengo_detail .view aside .btn_form{ float: right; width:47%; margin:5px 1% 5px 0; }
	.front.bengoarchive ul.list li .bengo_detail .view  .btn_detail{ float: left; width:47%; margin:5px 0 5px 1%; }
	.front.bengoarchive ul.list li .bengo_detail .view aside h5 ,.front.bengoarchive ul.list li .bengo_detail .view aside p{ display: none;}
	

	#wrap.bengoarchive h2 { font-size: 2.2em; text-align: center; margin: 1.5em 0 0.5em;}
	#wrap.bengoarchive h2 span { display: block; padding: 0 0 0 20px; background-size: 20px 17px; background-position: 0.1em 0.5em;}
	#wrap.bengoarchive article { padding: 10px; font-size: 1.3em;}
	
	
	.is p{ font-size:40px; text-align: center; background: #FFC; padding:15px 0; }

	/* form-bengo.php #############
	=========================================*/
	.front.bengoform { padding: 0 5px;}
	.front.bengoform header { background-size: 40px 40px; margin: 0 0 0; padding: 2px 0 5px 50px; font-size: 0.65em; letter-spacing: -0.1em;}
	.front.bengoform header span { background: #EB792A; padding: 0 0.5em; margin: 0 0 0 0; }
	.front.bengoform header h1 { font-size: 2em;}

	.front.bengoform article { background: #FFF; padding: 5px; overflow: hidden}
	.front.bengoform article .bengo_detail { max-width: 600px; width: 100%; float: none}
	.front.bengoform article .bengo_detail strong { font-size: 0.9em; padding: 0.4em 0 0.4em 30px; background-size: 13px 14px;}
	.front.bengoform article .bengo_detail .contactfield { padding: 0 0; margin: 1px 0 0; border-top: none}
	.front.bengoform article .bengo_detail .contactfield .tel { max-width:614px; width:100%;float: none;}
	.front.bengoform article .bengo_detail .contactfield .tel p:first-child {  background: none; border-right: 1px solid #ccc;}
	.front.bengoform article .bengo_detail .contactfield .tel b { padding: 0 0 0 20px; background-size: 12px 12px;}
	.front.bengoform article .bengo_detail .contactfield .tel .helpline { border: 1px solid #ccc; border-top: none; padding: 10px 50px 0 0; background-size: 65px 93px; background-position: bottom right}
	.front.bengoform article .bengo_detail .contactfield .tel .helpline strong { display: block; color: #FFF; padding: 0 0 0 1em; background: #006899;}
	.front.bengoform article .bengo_detail .contactfield .tel .helpline a { display: block; color: #C00; font-size: 24px; padding: 0 0 0 45px; margin: 0 0 0 10px; background-size: 35px 28px}
	.front.bengoform article .bengo_detail .contactfield .tel .helpline table { border-collapse:separate; border-spacing:1px; border-top: 1px solid #ccc; margin: 2px 0 2px 2px;}
	.front.bengoform article .bengo_detail .contactfield .tel .helpline th { background: #006899; color: #FFF; width: 50px; text-align: center; font-size: 0.9em;}
	.front.bengoform article .bengo_detail .contactfield .tel .helpline td { border: none; font-size: 0.85em;}

	.front.bengoform article .bengo_image { display: none}

	.front.bengoform article + article { margin: 20px 0 0;}
	.front.bengoform article h2 { background: #006699; font-size: 1.5em; color: #FFF; margin: 1em 0; padding: 0.3em 0.8em;}
	.front.bengoform article + article table { margin: 1.5em 0; border: 1px solid #ccc; border-collapse:separate; border-spacing:1px; width: 100%; font-size: 0.9em;}
	.front.bengoform article + article table { display: block; width:100%; border-spacing: 0px; border-collapse: unset; }
	.front.bengoform article + article table tr, .front.bengoform article table tbody { display: block; }
	.front.bengoform article + article table th, .front.bengoform article table td { display:block; width:90%; float: none; padding: 5px 5%; margin-bottom: 0; }
	.front.bengoform article + article table th { text-align: left; font-size: 1.2em; background: #CCC url(../img/ic_ninni.gif) no-repeat 90% center; background-size: 30px 15px;}
	.front.bengoform article + article table td input[type="text"],
	.front.bengoform article + article table td input[type="number"],
	.front.bengoform article + article table td input[type="tel"],
	.front.bengoform article + article table td textarea { padding: 0.1em; width: 92%;}
	.front.bengoform article + article table td .mwform-tel-field input,
	.front.bengoform article + article table td .mwform-zip-field input { width: 50px;}
	.front.bengoform article + article table td input[type="text"] + span { margin: 0 0 0 0.5em; font-size: 0.75em;}
	.front.bengoform article + article table td input[type="number"] + span { margin: 0 0 0 0.5em; font-size: 0.75em;}
	.front.bengoform article + article table td label { display: block; color: #069}
	.front.bengoform article + article table td.must input[type="text"] { /*border: 1px solid #E99498; background: #FFF2F2;*/}
	.front.bengoform article + article table th.must { background: #CCC url(../img/ic_mast.gif) no-repeat 90% center; background-size: 30px 15px;}
	.front.bengoform article + article #accept { text-align: center}
	.front.bengoform article + article #button input { display: block; border: 1px solid #D6393F; background: #D6393F url(../img/bg_btnarrow.png) no-repeat 220px center;
	width: 250px; text-align: center; padding: 10px; border-radius: 4px; color: #FFF; font-size: 1.25em; margin: 10px auto;}
	.front.bengoform .th30 { background: none; font-size: 1.1em; font-weight: bold;}
	.front.bengoform .td30 samp { color: #D6393F; font-size: 2.0em; border-bottom: 5px solid #D6393F; margin: 0 0 0 0.2em; letter-spacing: 0.05em; line-height: 1.1;}

	.front.bengoform article ul.formtab { overflow: hidden; margin: 0 0 0.2em}
	.front.bengoform article ul.formtab li { width: 49%; float: right;}
	.front.bengoform article ul.formtab li:first-child { width: 49%; float: left}
	.front.bengoform article ul.formtab li a { background-size: 9px 11px; color: #FFF; height: auto; font-size: 1.1em; text-align: center; padding: 0; text-indent: 1em}
	.front.bengoform article ul.formtab + p { font-size: 0.7em;}

	.single_doc article #contact table { margin: 1.5em 0; border: 1px solid #ccc; border-collapse:separate; border-spacing:1px; width: 100%; font-size: 0.9em;}
	.single_doc article #contact table { display: block; width:100%; border-spacing: 0px; border-collapse: unset; }
	.single_doc article #contact table tr, .single_doc article #contact table tbody { display: block; }
	.single_doc article #contact table th, .single_doc article #contact table td { display:block; width:90%; float: none; padding: 5px 5%; margin-bottom: 0; }
	.single_doc article #contact table th { text-align: left; font-size: 1.2em; background: #CCC url(../img/ic_ninni.gif) no-repeat 90% center; background-size: 30px 15px;}
	.single_doc article #contact table td input[type="text"],
	.single_doc article #contact table td input[type="number"],
	.single_doc article #contact table td input[type="tel"],
	.single_doc article #contact table td textarea { padding: 0.1em; width: 100%;}
	.single_doc article #contact table td .mwform-tel-field input,
	.single_doc article #contact table td .mwform-zip-field input { width: 50px;}
	.single_doc article #contact table td label { display: block; color: #069}
	.single_doc article #contact table td.must input[type="text"] { /*border: 1px solid #E99498; background: #FFF2F2;*/}
	.single_doc article #contact table th.must { background: #CCC url(../img/ic_mast.gif) no-repeat 90% center; background-size: 30px 15px;}


	#side { max-width:100%; margin-top:10px; }
	#globalfooter .inner { max-width:1000px; width:100%;}
	#globalfooter form fieldset {max-width:1000px; width:100%;}
	#globalfooter form fieldset input[type="text"] { float: left; width: 250px; margin-left:5px;}
	#globalfooter form fieldset input[type="submit"] { float: left; width: 30px; padding: 4px 5px; background:#E8E8E8 url(../img/ic_search.png) no-repeat center center;
	border: 1px solid #E8E8E8; border-radius: 0 4px 4px 0 / 0 4px 4px 0; text-indent: -9998px; cursor: pointer}


	#globalfooter .inner { position: absolute; top: 7px; right: 10px; background: #FFF url(../img/sp_menu.png) no-repeat right top; background-size: 30px 44px; padding: 0; width: 30px; height: 44px; border-radius: 2px; border: 2px solid #FFF; z-index: 100}
	#globalfooter .inner .contents,
	#globalfooter .inner .search { display: none;}
	#globalfooter .inner.open { width: 84%; height: auto; background: #FFF; background-size: 20px 20px; box-shadow: 1px 1px 4px #555; clear: both; border: 1px solid #FFF; border-top: 3px solid #069; padding: 5px;}
	#globalfooter .inner.open .contents,
	#globalfooter .inner.open .search { display: block;}
	#globalfooter .inner.open .contents { width: 100%;}
	#globalfooter .inner.open .contents dt { border-left: none; background: #069; color: #FFF; padding: 0 0 0 0.8em; margin: 0 0; font-size: 1.1em;}
	#globalfooter .inner.open .contents dd { border-bottom: 1px dotted #ccc; padding: 0 2% 0; width: 46%; float: left;}
	#globalfooter .inner.open .contents dd a { display: block; background: url(../img/ic_sp_arrow.png) no-repeat right 0.7em; background-size: 4px 7px; padding: 0.4em 1em 0.4em 0; font-size: 0.9em; font-size: 0.8em; color: #000}
	#globalfooter .inner.open .search { width: 100%;}
	#globalfooter .inner.open .search h6 { margin: 1em 0 0; background: #069; color: #fff; padding: 0 0 0 0.8em;}
	#globalfooter .inner.open .search ul { padding: 0; border-radius: 0; border: 0}
	#globalfooter .inner.open .search ul li { border: none; border-bottom: 1px dotted #ccc; margin: 0; padding: 0 2% 0; width: 46%; float: left;}
	#globalfooter .inner.open .search ul li a { display: block; border-left: none; background: url(../img/ic_sp_arrow.png) no-repeat right 0.7em; background-size: 4px 7px; padding: 0.4em 1em 0.4em 0; font-size: 0.9em; font-size: 0.8em; color: #000;}
	#globalfooter .inner.open .search dt { float: none; margin: 0}


	.credit address { max-width:750px; width:73%;}
	.credit address { background: url(../img/ag.png) no-repeat 5px center; background-size: 81px 22px; padding: 6px 0 6px 27%; font-size: 10px; line-height: 1.2}
	
	.credit ul { width: 100%; margin: 0 auto; overflow: hidden; padding: 0.2em 0; border-bottom: 1px solid #ccc;}
	.credit ul li { float: left; margin: 0 1em 0 0; padding: 0 0 0 1em;}
	.credit ul li a {  background: none; padding: 0.4em 0 0.4em 0; font-size: 0.9em; color:#000}
	
	

	#page-navi { background: rgba(235,121,42,0.88); display: block; position: fixed; bottom: 0; left: 0; padding: 0 0 1%; width: 100%; overflow: hidden;}
	#page-navi h6 { color: #FFF; text-align: center; width: 100%; padding: 0.5% 0;}
	#page-navi a[href="/#search_area"] { text-decoration: none; color: #fff; width: 39%; padding: 2% 1% 2% 7%; margin: 0 0 0 2%; text-align: center; display: block; border-radius: 5px; background: #D6393F url(../img/ic_sp_area.png) no-repeat 4% center; background-size: 15px 14px; font-size: 0.8em; float: left;}
	#page-navi a[href="/#search_offer"] { text-decoration: none; color: #fff; width: 39%; padding: 2% 1% 2% 7%; margin: 0 2% 0 0; text-align: center; display: block; border-radius: 5px; background: #006699 url(../img/ic_sp_offer.png) no-repeat 3% center; background-size: 15px 14px; font-size: 0.8em; float: right;}
	
	
	#page-navi a[href="/calculate"] { text-decoration: none; color: #fff; width: 39%; padding: 2% 1% 2% 7%; margin: 0 2% 0 0; text-align: center; display: block; border-radius: 5px; background: #006699 url(../img/ic_sp_offer.png) no-repeat 3% center; background-size: 15px 14px; font-size: 0.8em; float: right;}

}

@media only screen and (min-width: 641px) and (max-width: 768px) {
	
	
	#side .side_office.top { background: #; display: block; position: fixed; bottom: 0; left: 0; width: 100%; margin: 0; padding:0; }
	#side .side_office img,
	#side .side_office h4,
	#side .side_office h5 { display: none;}
	#side .side_office table { width: 49%; float: right}
	#side .side_office table th,
	#side .side_office table td { display: none;}

	#side .side_office h6 { background: none; color: #FFF; text-align: left; width: 100%; padding: 0 1%;}
	#side .side_office table  { margin: 0;}
	#side .side_office table .tel { display: block; font-size: 0.7em; text-align: center; padding: 0 1% 0 0;}
	#side .side_office table .tel a { display: block; width: 243px; height: 43px; padding: 0; box-shadow: none; text-indent: -9998px; background: url(../img/btn_sp_phone.png) no-repeat; background-size: 243px 43px;}
	#side .side_office table .tel p { display: none;}
	#side .side_office .btn { width: 49%; float: left; margin: 0; padding: 0 0 0 1%; background: none}
	#side .side_office .btn a.link { width: 243px; height: 43px; padding: 0; box-shadow: none; text-indent: -9998px; background: url(../img/btn_sp_form.png) no-repeat; background-size: 243px 43px; border-radius: 0}
	#side .side_office .btn a.link + p { font-size: 0.7em; color: #FFF; text-align: center;}
	#side .side_office .btn .ssl { display: none;}



}