@charset "utf-8";

/*--------------------------------
   SNSボタン(個別記事)
---------------------------------*/
.sharebtn { background: #E4E4E4; margin: 20px auto 0; padding: 10px 1em 0; border-radius: 5px; clear: both;}
.sharebtn p { text-align: center; padding:0 0 0 0; margin:0;}
.sharebtn a { text-decoration: none;}
.sharebtn ul { overflow: hidden; width: 300px; margin: 0 auto; background: none; }
.sharebtn li { float: left; margin: 5px 8px 5px 0; border: none;}
#facebook { font-size: 46px; margin: -2px 1px -5px 0; color: #315096;}
#twitter { font-size: 24px; padding: 8px 9px; color: #fff; border-radius: 5px; background: #55acee;}
.feedly {
    position: relative;
    width: 38px;
    height: 38px;
    border-collapse: separate;
    border: 1px solid #54803a;
    border-radius: 4px;
    background: #75ad43;
    background: -webkit-gradient(linear, left top, left bottom, from(#93bf43), to(#72ac43));
    background: -webkit-linear-gradient(top, #93bf43 0%, #72ac43 100%);
    background: linear-gradient(to bottom, #93bf43 0%, #72ac43 100%);
    -webkit-box-shadow: -1px 1px 1px #689a3d inset, 1px -1px 1px #689a3d inset;
    box-shadow: -1px 1px 1px #689a3d inset, 1px -1px 1px #689a3d inset;
}
.feedly:before {
    position: absolute;
    z-index: 2;
    top: 31px;
    left: 13px;
    width: 11px;
    height: 3px;
    content: '';
    border-top: 1px solid #639339;
    background: #75ad43;
    -webkit-box-shadow: 0 -1px 1px 0 #6b9f3f;
    box-shadow: 0 -1px 1px 0 #6b9f3f;
}
#feedly {
    font-size: 23px;
    z-index: 1;
    padding: 9px 8px 8px 9px;
    color: #fff;
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
    text-shadow: -1px 1px 1px #639339, -1px 2px 1px #639339;
    -webkit-text-shadow: -1px 1px 1px #639339, -1px 2px 1px #639339;
}
#feedly:before {
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 13px;
    width: 12px;
    height: 3px;
    content: '';
    background: #76a53d;
}
#feedly:after {
    font-family: Trebuchet MS;
    font-size: 19px;
    font-weight: bold;
    line-height: 1px;
    position: absolute;
    z-index: 1;
    top: 19px;
    left: 13px;
    width: 2px;
    height: 3px;
    padding: 0 3px 0 2px;
    content: '.';
    -webkit-transform: scale( -1, 1);
    -ms-transform: scale( -1, 1);
    transform: scale( -1, 1);letter-spacing: .2em;
    color: #76a53d;
    background: #76a53d;
    text-shadow: none;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #feedly:before { width: 11px; height: 3px; }
    #feedly:after { width: 1px; height: 3px; padding: 0 3px; }
}
#rss {
    font-size: 20px;
    padding: 10px 12px;
    color: #fff;
    border-radius: 5px;
    background: #ff8c00;
}
#rss a:hover { color: #fff; }
#googleplus {
    font-size: 29px;
    padding: 6px 2px 3px 6px;
    color: #fff;
    border-bottom: 2px solid #8d2d1d;
    border-radius: 2px;
    background-color: #dd4b39;
}
#googleplus:after {
    font-family: Verdana;
    font-size: 13px;
    font-weight: bold;
    position: relative;
    top: -8px;
    left: -3px;
    content: '+';
    color: #fff;
}
#pocket {
    font-size: 18px;
    lin-height: none;
    margin: 9px 6px 6px 6px;
    padding: 2px 0 5px 5px;
    color: #fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #ee4056;
    text-shadow: -1px 0 1px #fff, 1px 0 1px #fff;
    -webkit-text-shadow: -1px 0 1px #fff, 1px 0 1px #fff;
}
#pocket:after {
    position: relative;
    z-index: 2;
    top: -1px;
    left: -22px;
    margin: 0 -28px 0 -7px;
    padding: 9px 8px 11px 30px;
    content: '';
    border: 1px solid #ddd;
    border-radius: 5px;
}
#pocket a:hover { color: #fff; }
.fa-chevron-down:before {
    position: relative;
    top: -4px;
    left: 9px;
    margin: 0 -9px;
    content: '';
    color: #ee4056;
    text-shadow: 0 -1px 2px #ee4056;
    -webkit-text-shadow: 0 -1px 2px #ee4056;
}

.hatena {
    position: relative;
    line-height: 1;
    top: 10px;
    padding-bottom: 19px;
}
.hatena:before {
    position: absolute;
    z-index: 1;
    top: 13px;
    left: 24px;
    width: 6px;
    height: 6px;
    content: '';
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 0 1px #008fde inset;
}
.hatena:after {
    position: absolute;
    top: 3px;
    left: 25px;
    width: 4px;
    height: 11px;
    content: '';
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 0 #fff, 0 -1px 1px 0 #008fde inset;
    box-shadow: 0 0 0 0 #fff, 0 -1px 1px 0 #008fde inset;
}
@-moz-document url-prefix() {
    .hatena:before { top: 13.5px; }
    .hatena:after { top: 3.5px; }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    ::i-block-chrome, .hatena:after { top: 3.5px; }
}
@media screen and (max-device-width: 1024px) {
    .hatena:after { top: 3.5px; }
}
.hatena a:hover { color: #fff; }
#hatena {
    font-family: Verdana;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    position: relative;
    padding: 5px 14px 6px 7px;
    color: #fff;
    border: 2px solid #117ec7;
    border-radius: 5px;
    background: #008fde;
    background-image: -webkit-linear-gradient( top, #00a4de 0%, #00a4de 49%, #008fde 50%, #008fde);
        background-image: -webkit-gradient( linear, left top,left bottom, from(#00a4de), color-stop(.49, #00a4de), color-stop(.50, #008fde), to(#008fde));
       background-image: linear-gradient( to bottom, #00a4de 0%, #00a4de 49%, #008fde 50%, #008fde);
}
.line {
    width: 40px;
    height: 40px;
    content: '';
    border-radius: 5px;
    background-color: #00c300;
}
.line:before {
    position: absolute;
    z-index: 1;
    width: 28px;
    height: 23px;
    margin-top: 7px;
    margin-left: 6px;
    content: '';
    border-radius: 14px / 11px ;
    background-color: #fff;
}
.line a:hover { color: #00c300; }
#line {
    font-family: Trebuchet MS;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    z-index: 2;
    width: 21px;
    height: 8px;
    max-height: 100%;
    margin: 7px 4px 7px 6px;
    padding: 7px 0 0 4px;
    letter-spacing: -.5px;
    color: #00c300;
    text-shadow: 0 0 0 #00c300;
    -webkit-text-shadow: 0 0 0 #00c300;
    -webkit-text-size-adjust: 100%;
}
#line:after {
    font-size: 12px;
    position: absolute;
    z-index: 1;
    top: 17px;
    left: 10px;
    content: '▼';
    -webkit-transform: rotate(26deg);
    -ms-transform: rotate(26deg);
    transform: rotate(26deg);
    color: #fff;
    text-shadow: 0 0 3px #fff;
}
@-moz-document url-prefix() {
    #line:after { top: 16px; left: 8px; text-shadow: none; }
}
@media screen and (max-device-width: 1024px) {
    #line:after { top: 16px; left: 9px; }
}